:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

@keyframes loadingAnimation {
  0% { width: 0; border-right: 2px solid #333; }
  100% { width: 100%; border-right: 2px solid transparent; }
}

.loadingText {
  display: inline-block;
  white-space: pre;
  overflow: hidden;
  animation: loadingAnimation 2s steps(10, end) infinite;
  border-right: 2px solid transparent;
}